<h1>
  TimeService#show
</h1>

<p>
  Find me in app/cells/time_service/show.erb
</p>


<div class="time">
	<p><%= @date %></p>
	<hr>
	<p id="reloj"></p>
</div>

<script>
	setInterval(showClock, 1000);
</script>
